@model TestEquipment.Models.DataTransferObjects.EquipmentDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row mt-8">
    <br /><br />
    <div class="col-md-9 m-auto" style="background-color:white !important; border-radius:5px">
        <br /><br />
        <div class="card card-body">
            <form>
                <h2>Equipment Type Details</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div><br /><br />
                <div class="form-group">
                    <label class="control-label"> Equipment Name:</label>
                    <input id="Name" asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Equipment Quantity:</label>
                    <input id="Quantity" asp-for="Quantity" class="form-control" readonly />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Equipment Status:</label>
                    <input id="Statuses" asp-for="Statuses" class="form-control" readonly />
                    <span asp-validation-for="Statuses" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Equipment CreationTime:</label>
                    <input id="CreationTime" asp-for="CreationTime" class="form-control" readonly />
                    <span asp-validation-for="CreationTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Equipment Type Name:</label>
                    <input id="EquipmentTypeName" asp-for="EquipmentTypeName" class="form-control" readonly />
                    <span asp-validation-for="EquipmentTypeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Equipment Type Description:</label>
                    <input id="EquipmentTypeDescription" asp-for="EquipmentTypeDescription" class="form-control" readonly />
                    <span asp-validation-for="EquipmentTypeDescription" class="text-danger"></span>
                </div>

            </form>
            <div>
                <a class="btn btn-dark" asp-action="Index">Back to List <i class="fa fa-list"></i></a>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
